@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
/*
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700

.mohave-<uniquifier> {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
  --primary-color: #001627;
  --text-secundary: #828282;
  --text-white: #fff;
  --background-color-f4: #F4F0E7;
  --bg-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Mohave", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--text-white);
}

h2 {
  font-size: 5.5rem;
  color: var(--text-white);
}

h3 {
  font-size: 5rem;
  color: var(--text-white);
}

h4 {
  font-size: 4.5rem;
  color: var(--text-white);
}

h5 {
  font-size: 4rem;
  color: var(--text-white);
}

h6 {
  font-size: 3.5rem;
  color: var(--text-white);
}

a{
  text-decoration: none;
}

.main-contant {
  max-width: 1442px;
  margin: 0 auto;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Menu
*/
.menu {
  position: fixed;
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--text-secundary);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a{
  display: block;
  padding: 1.4rem;
  font-size: 1.2rem;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after{
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 25%;
  width: 50%;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu h3 {
  color: var(--primary-color);
  font-size: 2.3rem;
}

.menu h3 a{
  color: inherit;
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/*

*/

.duotone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: cover;
  background-size: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url("../img/duotone.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 96vh;
}

.gradient{
  background: linear-gradient(270deg, rgba(0, 49, 79, 0.00) 0%, #001627 69.59%);
  height: 100%;
}

.group-3 {
  width: 46.8vh;
  height: 11.875rem;
  position: relative;
  margin-top: 28.64vh;
  margin-left: 18.56vh;
}

.group-3 h1 {
  color: var(--text-white);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-size: 8.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.875rem;
  /* 77.465% */
}

.group-3 h4 {
  color: var(--text-white);
  text-align: justify;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -0.06rem;
}

.group-3 a i {
  margin-top: 0.56rem;
  margin-right: 2rem;
  width: 0.2rem;
  height: 0.2rem;
  color: var(--text-white);
}

/*
SUMMER COLLECTION
*/

.summer-colection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 28rem;
  background: var(--background-color-f4);
  border: 1px solid red;
}

#summer-texts {
  padding: 2rem 3rem 0 3rem;
  background: var(--background-color-f4);
  display: block;
  flex-direction: column;
  text-align: center;
}

#summer-texts h3 {
  background: var(--background-color-f4);
  color: var(--text-secundary);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#summer-texts h2 {
  background: var(--background-color-f4);
  color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  font-size: 4.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

#summer-texts p {
  color: var(--primary-color);
  text-align: justify;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 5rem 0 5rem;
}

#collection-img {
}

#img {
  border: 0.2rem dashed var(--text-secundary);
  background: url("../img/Bitmap.png"), no-repeat;
  width: 30vh;
  height: 30vh;
  position: absolute;
}